<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<div [ngStyle]="{
  'background-image': 'url(https://wallpaper.dog/large/10881773.jpg)',
  'min-height': '100%',
  'background-position': 'center'
}">
    <div id="fix-for-navbar-fixed-top-spacing" style="height: 80px;">&nbsp;</div>
    <p style="text-align:center;">
        <a class="h2">Zeyad AbouShanab</a>
    </p>
    <div class="container txt">
        <img src="https://avatars.githubusercontent.com/u/62266911?v=4" />
    </div>
    <div class="container txt">
    <h4>About Me:</h4>
    <p class="zi">Software & Service Architecture masters student at ELTE.</p>
    <h4>NEPTUN code:</h4>
    <p class="zi">U2PAK4</p>
    <h4>Email Address:</h4>
    <a class="zi" href="mailto: ziadmamdouh24@yahoo.com">ziadmamdouh24@yahoo.com</a>
    <br><br>
</div>
    <div id="fix-for-navbar-fixed-bottom-spacing" style="height: 50px;">&nbsp;</div>