<!DOCTYPE html>
<html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('https://www.linkpicture.com/q/wepik-202254-20649.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style>
</head>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-black">
  <div class="w3-display-topleft w3-padding-medium w3-xlarge w3-text-white">
    Logo
  </div>
  <div style = "margin-left:220px ; border-style:solid ;" class="w3-display-left w3-padding-large">
    <h1 class="w3-xxxlarge w3-animate-top w3-margin-left w3-margin-left">WELCOME TO THE DIARY</h1>
    <p class="w3-large w3-center">35 days left</p>
    <p><a class="w3-large w3-center btn btn-primary" routerLink="/diaries/new" href="#" role="button">New Diary</a></p>
  </div>
</div>

</body>
</html>
